@using AnimalShelterClient.Models

@{
	Layout = "_Layout";
}

<h1 id="title">Animals</h1>

<hr />

@foreach (Animal animal in Model)
{
	<ul>
		<li>
			@Html.ActionLink($"{animal.Name}", "Details", "Animals", new { id = animal.AnimalId, version = ApiHelper.ApiVersion })
		</li>
	</ul>
}

<hr />

<p>
	@Html.ActionLink("Add new animal", "Create", "Animals", new { version = ApiHelper.ApiVersion })
	|
	@Html.ActionLink("Home", "Index", "Home")
</p>