@using AnimalShelterClient.Models

@{
	Layout = "_Layout";
}

<h1 id="title">Animals</h1>

<hr />

@if(ApiHelper.HasReadPermission)
{
	foreach (Animal animal in Model)
	{
		<ul>
			<li>
				@Html.ActionLink($"{animal.Name}", "Details", "Animals", new { id = animal.AnimalId, version = ApiHelper.ApiVersion })
			</li>
		</ul>
	}
}
else
{
	foreach (Animal animal in Model)
	{
		<ul>
			<li>
				@animal.Name
			</li>
		</ul>
	}
}

<hr />

@if (ApiHelper.HasCreatePermission)
{
	@Html.ActionLink("Add new animal", "Create", "Animals", new { version = ApiHelper.ApiVersion })
	<span>|</span>
}

@Html.ActionLink("Home", "Index", "Home")